Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
5+3*2

11

In [7]:
(5+3)*2

16

In [8]:
type(4/2)

float

In [9]:
type(2)

int

In [10]:
type(2.5)

float

In [11]:
type('k')

str

In [12]:
a=10
b=20
a+b

30

In [13]:
c=a+b

In [14]:
c

30

In [15]:
type(c)

int

In [16]:
True or Fals

True

In [17]:
True or False

True

In [18]:
True and False

False

In [19]:
True | False

True

In [20]:
a=10
b=20
a+b<10

False

In [21]:
a-b<10

True

#STrings

In [22]:
type(Rakesh)

NameError: name 'Rakesh' is not defined

In [23]:
type('Rakesh')

str

In [24]:
"Rakesh"

'Rakesh'

In [25]:
'Rakesh'

'Rakesh'

In [26]:
str1="Rakesh"

In [27]:
str1

'Rakesh'

In [28]:
str(1)

'1'

In [29]:
a=20
a

20

In [30]:
print(a)

20

In [31]:
str1="good boy"
str2="bad boy"

In [33]:
print(str1)
print(str2)

good boy
bad boy

In [34]:
str1+str2

'good boybad boy'

In [35]:
str1+" "+str2

'good boy bad boy'

In [36]:
name= input("Enter name :")
print(name)

Enter name :Rakesh
Rakesh

In [39]:
a=int(input("Enter n1 :"))
b= int(input(("Enter n2 :")))
c=a+b
print("The output is ",c)

Enter n1 :34
Enter n2 :34
The output is  68

#String formatting

In [40]:
first_name=(input("Enter n :"))
last_name=(input("Enter n :"))
print("Welcome ",first_name,last_name)

Enter n :Rakesh
Enter n :Reddy
Welcome  Rakesh Reddy

In [41]:
first_name=(input("Enter n :"))
last_name=(input("Enter n :"))
print("Welcome my firstname is {} and my lastname {}".format(first_name,last_name))

Enter n :Rkesh
Enter n :Reddy
Welcome my firstname is Rkesh and my lastname Reddy

In [42]:
first_name=(input("Enter n :"))
last_name=(input("Enter n :"))
print("Welcome my firstname is {firstname} and my lastname {lastname}".format(lastname=last_name,firstname=first_name))

Enter n :Rakesh
Enter n :reddy
Welcome my firstname is Rakesh  and my lastname reddy

Variable Dynamic Typing

In [43]:
'Krish'+1

TypeError: can only concatenate str (not "int") to str

In [44]:
'Krish'+'1'

'Krish1'

In [45]:
Krish+str(1)

NameError: name 'Krish' is not defined

In [46]:
'Krish'+str(1)

'Krish1'

In [47]:
1+int("2")

3

#CONDITIONAL

In [50]:
a = int(input("enter first number :"))
b = int(input("enter first number :"))
c=a-b
if c<0:
    print("Number is -ve")
elif c>40:
    print("Diff is huge")
    
else :
    print("Number is +ve")

enter first number :90
enter first number :10
Diff is huge

#DataStructures
1.List
2.tuple
3.String
$.Dictionary
5.Sets

In [52]:
lst = [1,23,3,"rakhesh"]

In [53]:
lst

[1, 23, 3, 'rakhesh']

In [54]:
type(lst)

list

In [55]:
lst.append(4)

In [56]:
lst

[1, 23, 3, 'rakhesh', 4]

In [57]:
lst[3]

'rakhesh'

In [58]:
lst[3] = 'ds'
lst

[1, 23, 3, 'ds', 4]

In [59]:
lst.append('ds')

In [60]:
lst

[1, 23, 3, 'ds', 4, 'ds']

In [61]:
lst.count('ds')

2

In [62]:
lst.count(9)

0

In [64]:
#INDEXING
str1="Rakesh"
str1[3]

'e'

In [65]:
str1[3]='I'

TypeError: 'str' object does not support item assignment

#String is immutable and lst is mutable/changeable